
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Shared/Header.cshtml")

<!-- Technology/Technology1 3D측정기 -->

<div class="row body" style="margin-left:0;margin-right:0;">

    <!-- 서브 타이틀 메뉴 시작 -->
    <div class="col-md-12 sub_title_bg" style="background-image: url('/images/Background/sub1-12.jpg');background-position:bottom center">
        <h1 class="sub_title" style="">측정 원리</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home"></i>&nbsp;<a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item"><a href="/Technology/Technology1">Technology</a></li>
                <li class="breadcrumb-item active" aria-current="page">측정 원리</li>
            </ol>
        </nav>
        <div class="sub_menu col-md-12">
            <div class="col-md-1 col-xs-4 col-md-offset-4 sel_depart m_menu">
                <a href="/Technology/Technology1">3D 형상 측정기</a>
            </div>
            <div class="col-md-1 col-xs-4 sel_depart sel m_menu">
                <a href="/Technology/Technology2">측정 원리</a>
            </div>
            <div class="col-md-1 col-xs-4 sel_depart m_menu">
                <a href="/Technology/Technology3">적용 분야</a>
            </div>
        </div>
    </div>
    <!-- 서브 타이틀 메뉴 끝 -->

    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2 pb-50">
            <div class="col-md-12" style="margin-top:7%;transition:0.5s;" data-aos="fade-up">
                <h3 class="t_txt pb-20">측정원리</h3>
                <img src="~/images/Technology/t_2.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
</div>