<footer>
    <div class="col-md-2"></div>
    <div class="col-md-1">
        <h1 style="margin:20px 0;"><a href="/Home/Index"><img class="img-responsive" style="height:40px;" src="/images/logo/logoft.png" alt="logo"></a></h1>
    </div>
    <div class="col-md-6 left" style="margin:20px 0;">
        <p class="flink">
            <a href="/Contact/Inquiry">고객센터</a>
            <a href="/Home/Privacy">개인정보처리방침</a>
            <a href="/Home/Disable">이메일무단수집거부</a>
        </p>
        <hr style="border-top:solid 1px #333;clear:both"/>
        <span style="">대전광역시 유성구 테크노4로 17, 제비105호, 제비106호(관평동,비즈센터)</span>
        <span style="">T 042-934-2772</span>
        <span style="">F 042-934-2773</span>
        <span style="">E sales@gltech.kr</span>
        <p class="copyright">Copyright © 2020 gltech.CO.,LTD. All rights reserved.</p>
    </div>
</footer>