
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Shared/Header.cshtml")

<!-- Company/History 연혁 -->

<div class="row body" style="margin-left:0;margin-right:0;">

    <!-- 서브 타이틀 메뉴 시작 -->
    <div class="col-md-12 sub_title_bg" style="background-image: url('/images/Background/sub1-6.jpg');">
        <h1 class="sub_title" style="">연혁</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home"></i>&nbsp;<a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item"><a href="/Company/Greetings">Company</a></li>
                <li class="breadcrumb-item active" aria-current="page">연혁</li>
            </ol>
        </nav>
        <div class="sub_menu">
            <div class="col-md-1 col-md-offset-4 col-xs-3 sel_depart m_menu">
                <a href="/Company/Greetings">인사말</a>
            </div>
            <div class="col-md-1 col-xs-3 sel_depart sel m_menu">
                <a href="/Company/History">연혁</a>
            </div>
            <div class="col-md-1 col-xs-3 sel_depart m_menu">
                <a href="/Company/Patents">특허/인증</a>
            </div>
            <div class="col-md-1 col-xs-3 sel_depart m_menu">
                <a href="/Company/Location">오시는길</a>
            </div>
        </div>
    </div>
    <!-- 서브 타이틀 메뉴 끝 -->

    <div class="col-md-12 pt-50">
        <div class="col-md-8 col-md-offset-2">
            <div class="row history" style="transition:0.5s;" data-aos="fade-up">
                <div class="col-xs-4">
                    <h1 class="center bold">2018</h1>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">01</span></h4></div>
                    <div class="col-xs-11"><h4>대전광역시 대덕구 문평서로 18 번길 77, 2 동 3 호 주소이전</h4></div>
                </div>
            </div>
            <div class="row history" style="transition:1s;" data-aos="fade-up">
                <div class="col-xs-4">
                    <h1 class="center bold">2017</h1>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">12</span></h4></div>
                    <div class="col-xs-11"><h4>우송대학교 MOU체결</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">06</span></h4></div>
                    <div class="col-xs-11"><h4>창업성장기술 개발 선정(중소벤처기업부)</h4></div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11"><h4>지역주력 R&D 선정(산업통상자원부)</h4></div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11"><h4>미국 특허 등록</h4></div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11"><h4>효성 업체 등록</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">05</span></h4></div>
                    <div class="col-xs-11"><h4>㈜건하테크 MOU체결</h4></div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11"><h4>벤처기업 인증(기술보증기금)</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">04</span></h4></div>
                    <div class="col-xs-11"><h4>삼성전기 업체 등록</h4></div>
                </div>
            </div>
            <div class="row history" style="transition:1.5s;" data-aos="fade-up">
                <div class="col-xs-4">
                    <h1 class="center bold">2016</h1>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">09</span></h4></div>
                    <div class="col-xs-11"><h4>특허 등록</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">08</span></h4></div>
                    <div class="col-xs-11"><h4>엔젤매칭 기업 선정(한국엔젤투자협회)</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">06</span></h4></div>
                    <div class="col-xs-11"><h4>경제협력권 R&D기업 참여선정(산업통상자원부)</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">05</span></h4></div>
                    <div class="col-xs-11"><h4>퍼스트펭귄 창업기업 선정(신용보증기금)</h4></div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11"><h4>창의융합R&D 선정(산업통상자원부)</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">01</span></h4></div>
                    <div class="col-xs-11"><h4>대전시 유성구 테크노2로 187, 437호(용산동, 미건테크노월드2차) 주소 이전</h4></div>
                </div>
            </div>
            <div class="row history" style="transition:2s;" data-aos="fade-up">
                <div class="col-xs-4">
                    <h1 class="center bold">2015</h1>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">10</span></h4></div>
                    <div class="col-xs-11"><h4>첫걸음 R&D 선정(중소벤처기업부)</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">09</span></h4></div>
                    <div class="col-xs-11"><h4>제품개선 R&D 선정(중소벤처기업부)</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">08</span></h4></div>
                    <div class="col-xs-11"><h4>ISO 9001 인증(KSR 인증원)</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">06</span></h4></div>
                    <div class="col-xs-11"><h4>벤처기업 인증(중소기업진흥공단)</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">05</span></h4></div>
                    <div class="col-xs-11"><h4>기업부설연구소 인증(한국산업기술진흥협회)</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">04</span></h4></div>
                    <div class="col-xs-11"><h4>대전시 유성구 테크노2로 187, 514호(용산동, 미건테크노월드2차) 주소 이전</h4></div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11"><h4>지엘텍 폐업 및 법인전환</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">03</span></h4></div>
                    <div class="col-xs-11"><h4>청년창업사관학교 우수기업 선정(중소벤처기업부)</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">02</span></h4></div>
                    <div class="col-xs-11"><h4>㈜지엘테크 법인 설립</h4></div>
                    <div class="col-xs-1"><h4><span class="m-color" style="padding-right:10px;">01</span></h4></div>
                    <div class="col-xs-11"><h4>대전시 유성구 테크노1로 75,  508호(관평동) 사무실 이전</h4></div>
                </div>
            </div>
        </div>
    </div>

</div>