
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Shared/Header.cshtml")

<!-- Company/Patents 특허/인증 -->

<div class="row body" style="margin-left:0;margin-right:0;">

    <!-- 서브 타이틀 메뉴 시작 -->
    <div class="col-md-12 sub_title_bg" style="background-image: url('/images/Background/sub1-8.jpg');">
        <h1 class="sub_title" style="">특허/인증</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home"></i>&nbsp;<a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item"><a href="/Company/Greetings">Company</a></li>
                <li class="breadcrumb-item active" aria-current="page">특허/인증</li>
            </ol>
        </nav>
        <div class="sub_menu">
            <div class="col-md-1 col-md-offset-4 col-xs-3 sel_depart m_menu">
                <a href="/Company/Greetings">인사말</a>
            </div>
            <div class="col-md-1 col-xs-3 sel_depart m_menu">
                <a href="/Company/History">연혁</a>
            </div>
            <div class="col-md-1 col-xs-3 sel_depart sel m_menu">
                <a href="/Company/Patents">특허/인증</a>
            </div>
            <div class="col-md-1 col-xs-3 sel_depart m_menu">
                <a href="/Company/Location">오시는길</a>
            </div>
        </div>
    </div>
    <!-- 서브 타이틀 메뉴 끝 -->


    <div class="col-md-10 col-md-offset-1 pt-50">
        <div class="col-md-12 ptb-30" id="part1">
            <div class="col-md-2">
                <h3 class="pb-30 center">특허</h3>
            </div>
            <div class="col-md-10">

                <!-- Thumbnail Gallery 시작 -->
                <div class="tz-gallery">
                    <div class="col-md-3 col-sm-6" style="transition:0.5s;" data-aos="fade-up">
                        <div class="thumbnail">
                            <a class="lightbox" href="/images/Company/patents1.jpg">
                                <img src="/images/Company/patents1.jpg" alt="Traffic">
                            </a>
                            <div class="caption">
                                <h3>광축 정렬방법 특허증</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="transition:1s;" data-aos="fade-up">
                        <div class="thumbnail">
                            <a class="lightbox" href="/images/Company/patents2.jpg">
                                <img src="/images/Company/patents2.jpg" alt="Traffic">
                            </a>
                            <div class="caption">
                                <h3>위치보정기능 특허증</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="transition:1.5s;" data-aos="fade-up">
                        <div class="thumbnail">
                            <a class="lightbox" href="/images/Company/patents3.jpg">
                                <img src="/images/Company/patents3.jpg" alt="Traffic">
                            </a>
                            <div class="caption">
                                <h3>리닉간섭계 특허증</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="transition:2s;" data-aos="fade-up">
                        <div class="thumbnail">
                            <a class="lightbox" href="/images/Company/patents4.jpg">
                                <img src="/images/Company/patents4.jpg" alt="Traffic">
                            </a>
                            <div class="caption">
                                <h3>PCT특허출원</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="transition:2.5s;" data-aos="fade-up">
                        <div class="thumbnail">
                            <a class="lightbox" href="/images/Company/patents5.jpg">
                                <img src="/images/Company/patents5.jpg" alt="Traffic">
                            </a>
                            <div class="caption">
                                <h3>미국특허등록증(리닉간섭계)2</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Gallery 끝 -->

            </div>
        </div>

        <hr style="clear:both;border-color:#ddd;" />
        <div class="col-md-12 ptb-30" id="part2">
            <div class="col-md-2">
                <h3 class="pb-30 center">인증</h3>
            </div>
            <div class="col-md-10">

                <!-- Thumbnail Gallery 시작 -->
                <div class="tz-gallery">
                    <div class="col-md-3 col-sm-6" style="transition:0.5s;" data-aos="fade-up">
                        <div class="thumbnail">
                            <a class="lightbox" href="/images/Company/patents6.jpg">
                                <img src="/images/Company/patents6.jpg" alt="Traffic">
                            </a>
                            <div class="caption">
                                <h3>퍼스트펭귄형 창업기업 선정2</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="transition:1s;" data-aos="fade-up">
                        <div class="thumbnail">
                            <a class="lightbox" href="/images/Company/patents7.jpg">
                                <img src="/images/Company/patents7.jpg" alt="Traffic">
                            </a>
                            <div class="caption">
                                <h3>벤처기업확인서</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="transition:1.5s;" data-aos="fade-up">
                        <div class="thumbnail">
                            <a class="lightbox" href="/images/Company/patents8.jpg">
                                <img src="/images/Company/patents8.jpg" alt="Traffic">
                            </a>
                            <div class="caption">
                                <h3>기업부설연구소인정서</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="transition:2s;" data-aos="fade-up">
                        <div class="thumbnail">
                            <a class="lightbox" href="/images/Company/patents9.jpg">
                                <img src="/images/Company/patents9.jpg" alt="Traffic">
                            </a>
                            <div class="caption">
                                <h3>ISO-9001</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Gallery 끝 -->

            </div>
        </div>
    </div>
</div>

<!-- Thumbnail Gallery Script -->
<script>
    baguetteBox.run('.tz-gallery');
</script>