
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Shared/Header.cshtml")

<!-- Product/Product1 3D측정기 -->

<style>
    .tz-gallery {
        padding: 0;
    }

        .tz-gallery .caption {
            padding: 10px 23px;
        }

            .tz-gallery .caption h3 {
                font-weight: 500;
            }
</style>

<div class="row body" style="margin-left:0;margin-right:0;">
    <!-- 서브 타이틀 메뉴 시작 -->
    <div class="col-md-12 sub_title_bg" style="background-image: url('/images/Background/sub1-11.jpg');background-position:bottom center">
        <h1 class="sub_title" style="">자동화 설비</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home"></i>&nbsp;<a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item"><a href="/Product/Product1">Product</a></li>
                <li class="breadcrumb-item active" aria-current="page">자동화 설비</li>
            </ol>
        </nav>
        <div class="sub_menu">
            <div class="col-md-1 col-xs-3 col-md-offset-5 col-xs-offset-3 sel_depart m_menu">
                <a href="/Product/Product1">측정기</a>
            </div>
            <div class="col-md-1 col-xs-3 sel_depart sel m_menu">
                <a href="/Product/Product2">자동화 설비</a>
            </div>
        </div>
    </div>
    <!-- 서브 타이틀 메뉴 끝 -->
    <div class="col-md-12">

        <div class="col-md-8 col-md-offset-2 ptb-20">

            <div class="col-md-12 clear product-img" style="margin-top:7%;transition:1.5s;" data-aos="fade-up">
                <h3 class="t_txt pb-20">Product Image</h3>
                <div class="col-md-4">
                    <img src="~/images/Product/auto01.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto02.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto03.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto04.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto05.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto06.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto07.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto08.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto09.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto10.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto11.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto12.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto13.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/Product/auto14.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Thumbnail Gallery Script -->
<script>
    baguetteBox.run('.tz-gallery');
</script>